@model AbpAspNetCoreDemo.Models.WebsiteContext
@{
    ViewData["Title"] = "WebsiteInformation";
}

<h2>WebsiteInformation</h2>

<p>大小写不敏感，website-information，Website-Information 都可以显示正确的信息</p>
<website-information info="Model"></website-information>
<Website-Information info="Model"></Website-Information>